<div class="container-tight py-6">
  <div class="text-center mb-4">
    <a href="."><img src="./static/logo-main.svg" height="36" alt=""></a>
  </div>
  <form class="card card-md" action="" name="formRegister" id="formRegister" method="POST">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Create new account</h2>
      <div class="mb-3">
        <label class="form-label">Name</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Enter name" autofocus>
      </div>
      <div class="mb-3">
        <label class="form-label">Email address</label>
        <input type="text" class="form-control" name="email" id="email" placeholder="Enter email">
      </div>
      <div class="mb-3">
        <label class="form-label">Password</label>
        <div class="input-group input-group-flat">
          <input type="password" class="form-control" name="password" id="password" placeholder="Password"  autocomplete="off">
          <span class="input-group-text">
            <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><svg xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><circle cx="12" cy="12" r="2" /><path d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" /></svg>
            </a>
          </span>
        </div>
      </div>
      <div class="mb-3">
        <label class="form-check">
          <input type="checkbox" id="terms" name="terms" class="form-check-input"/>
          <span class="form-check-label">Agree the <a href="./terms-of-service.html" tabindex="-1">terms and policy</a>.</span>
        </label>
      </div>
      <div class="form-footer">
        <button type="submit" class="btn btn-primary w-100">Create new account</button>
      </div>
    </div>
  </form>
  <div class="text-center text-muted mt-3">
    Already have account? <a href="login" tabindex="-1">Login</a>
  </div>
</div>
<%- contentFor('modalValidate') %>
<div class="modal modal-blur fade" id="modal-report" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      <div class="modal-status bg-danger"></div>
      <div class="modal-body text-center py-4">
        <!-- SVG icon code with class="mb-2 text-danger icon-lg" -->
        <h3>Notification</h3>
        <div class="text-muted text-warning"></div>
      </div>
      <div class="modal-footer">
        <div class="w-100">
          <div class="row">
            <div class="col">
              <a href="#" class="btn btn-danger w-100" data-bs-dismiss="modal">
                Cancel
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- contentFor() %>

<script>
  $("#formRegister").on("submit", function (e) {
    e.preventDefault();
    validate();
  });
  function activeModal(text) {
    $('.text-warning').text(text);
    $('#modal-report').modal('show');
  }
  function validate() {
    //Get value field input
    const name = $("#name").val();
    const email = $("#email").val();
    const password = $("#password").val();
    const terms = $("#terms").is(':checked');

    //Expression regexp validate
    const regexName = /(?=.{1,})/;
    const regexEmail = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    const regexPassword = /(?=.{8,})/;
    //Check validate
    if (!regexName.test(name)) {
      return activeModal('The name cannot be left blank');
    }
    if (!regexEmail.test(email)) {
      return activeModal('Incorrect email format');
    }
    if (!regexPassword.test(password)) {
      return activeModal('The password must be eight characters or longer');
    }
    if(!terms) {
      return activeModal('Please agree to the terms and policy');
    }
    $.getJSON(`/register/is-available?email=${email}`, function (data) {
      console.log(data);
      if (data === true) {
        $("#formRegister").off("submit").submit();
      } else {
        activeModal('Email already exists, please try again with another email');
      }
    });
  }
</script>