<div class="container-tight py-6">
  <div class="text-center mb-4">
    <a href="."><img src="/public/static/logo-main.svg" height="36" alt=""></a>
  </div>
  <div class="card card-md">
    <div class="card-body">
      <h2 class="card-title text-center mb-4">Create new account successfully!</h2>
      <div class="mb-3">
        <p class="text-center">
          You have successfully created an account with email
          <b><%= email %></b>
        </p>
      </div>
      <div class="form-footer">
        <a href="login" class="btn btn-primary w-100">To Login</a>
      </div>
    </div>
  </div>
</div>
<script>
  $( document ).ready(function() {
    console.log( "ready!" );
    console.log("<%= objTest %>");
});
</script>